section.section.hero#parallax
  .parallax
    include parallax
  .container
    .header__wrapper
      include header
    .info
      include info
    .scroll
      .scroll__text Скролл
      button.scroll__button
        +icon('scroll', 'scroll__button-svg')